/* all fonts */
.inter-regular> {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.noto-serif-bold> {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: bold;
  font-variation-settings:
    "wdth" 100;
}
/* shared styles */
.btn{
    color: white;
    background-color: #E95A08;
    padding: auto 50px;
    width: 270px;
    height: 50px;
    border: none;
    text-align: center;
}
p{
    font-size: 1.20rem;
    
}
span{
    color: #E95A08;
}
h1{
    font-size: 4rem;
}
h2{
    font-size: 3rem;
}
/* navber styles */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto 100px;
}
.nav-link{
    text-decoration: none;
    color: #252432;
    padding: 15px;
}
/* banner styles */
.banner{
    display: flex;
    margin: 100px;
    align-items: center;
}

/* our plants styles */
.our-plants-main{
    justify-items: center;
    text-align: center;
}
.card{
    width: 270px;
    height: 484px;
}

.our-plants-card{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

/* plants lover styles */
.plant-lover-main{
    margin: 100px;
    display: flex;
    
}
.plant-lover-content{

}
.plant-lover-image{
    position: relative;
}
.badge{
    position: absolute;
    top: -15%;
    left: 95%;
    transform: translate(-50%);
    width: 210px;
}

/* latest deals styles */
.latest-deal-content{
    justify-items: center;
    text-align: center;
}
.deal-images{
    display: flex;
    margin: 80px 100px;
    gap: 20px;
}
.deal-image{
    border-radius: 20px;
}
.image-box{
    position: relative;
}
.text-overlay{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}
.text-overlay h3 {
    margin: 0;
}
.text-overlay p {
    margin-top: 8px;
    padding: 6px 12px;
    display: inline-block;
}


/* join section styles*/
.join-bunch{
    background-image: url("../Images/news-letter-bg.png");
    height: 530px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* footer styles */
.footer-main{
    display: flex;
    margin: 50px;
    justify-content: space-evenly;
}
.footer-links{
    display: flex;
}
.footer-link{
    text-decoration: none;
    color: black; 
}
.footer-links ul li{
    list-style: none;   
}
.social-icon{
    
}
